<h1 class="center-align grey-text text-darken-2">
  <span>L</span>os
  <span>A</span>ngeles Reserve</h1>


<section class="slider z-depth-3">
  <ul class="slides">
    <li>
      <img class="responsive-img" src="../public/styles/img/city.jpeg">
      <!-- random image -->
    </li>
    <li>
      <img class="responsive-img" src="../public/styles/img/restaurant.jpeg">
      <!-- random image -->
    </li>

  </ul>
  </div>
</section>

<section class="section section-icons center">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div id="location" class="card-panel z-depth-2 grey darken-1 ">
          <i class="material-icons large white-text"> room</i>
          <h3 class="white-text">Choose a location</h3>
        </div>
      </div>

      <div class="col s12 m4">
        <div id="reservation" class="card-panel z-depth-2 grey darken-1">
          <i class="material-icons large white-text"> group_add</i>
          <h3 class="white-text">Make a Reservation</h3>
        </div>
      </div>

      <div class="col s12 m4">
        <div id="memories" class="card-panel z-depth-2 grey darken-1">
          <i class="material-icons large white-text"> mood</i>
          <h3 class="white-text">Create lasting memories</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<form>
  <div class="input-field col s12">
    <div class="form-group mb-2">
      <label for="location"></label>
      <select class="form-control" id="location">
        <option value="disabled" disabled selected>Choose a location</option>
        <option value="downtown_la">Downtown LA</option>
        <option value="beverly_hills">Beverly Hills</option>
        <option value="hollywood">Hollywood</option>
        <option value="koreatown">Koreatown</option>
        <option value="Santa Monica">Santa Monica</option>
      </select>
    </div>

    <div class="input-field col s12">
      <div class="form-group mb-2">
        <label id="type-label" for="type"></label>
        <select class="form-control" id="type">
          <option value="" disabled selected> Pick an activity</option>
          <option value="1">Hotels</option>
          <option value="2">Restaurants</option>
          <option value="3">Attractions</option>
        </select>
      </div>

      <div class="input-field col s12">
        <div class="form-group mb-2">
          <label for="price"></label>
          </br>
          <select class="form-control" id="price">
            <option value="" disabled selected>Select a price range</option>
            <option value="1">$</option>
            <option value="2">$$</option>
            <option value="3">$$$</option>
          </select>
        </div>

        <button class="btn waves-effect waves-light btn-large" type="submit" name="action" id="submit"> Reserve
          <i class="material-icons right">send</i>
        </button>

</form>

<!-- Popular Locations -->
<section id="popular" class="section section-popular scrollspy">
  <h2> Popular Locations </h2>
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src="../public/styles/img/downtown_la.jpeg" alt="Downtown Los Angeles">
          </div>
          <div class="card-content">
            Downtown
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src="../public/styles/img/hollywood.jpeg" alt="Hollywood">
          </div>
          <div class="card-content">
            Hollywood
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card z-depth-4">
          <div class="card-image santa-monica">
            <img src="../public/styles/img/santa_monica.jpeg" alt="Santa Monica" class="santa-monica-img">
          </div>
          <div class=" card-content ">
            Santa Monica
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<footer class="section grey darken-1 white-text center ">
  <p class="flow-text ">Los Angeles Reserve &copy; 2018</p>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js "></script>
<script>
  $(document).ready(function () {
    $('select').formSelect();
  });

  //Slider
  const slider = document.querySelector('.slider');

  M.Slider.init(slider, {
    indicators: false,
    height: 400,
    transition: 500,
    interval: 6000
  });

</script>