<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Reservations</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head> 
<!-- I am a beautiful comment to make a change in github --> 
<body>
    <div class="container">
    <h2 class="center-align">Reservations Page</h2>
    </div>

<br>
<h5 class="center-align">Please select a time for your reservation:</h5>
<h5 class="center-align"><a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Reservation Time</a>
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">12:00pm</a></li>
    <li><a href="#!">5:00pm</a></li>
    <li><a href="#!">8:00pm</a></li>
  </ul></h5>

<br><br>
<div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
                <div class="input-field col s12">
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                </div>
              </div>
        </form>
      </div>
<div class="right-align"><a class="waves-effect waves-light btn">Submit</a></div>

<script>
$(document).ready(function(){
   $('.modal').modal();
   $('.dropdown-trigger').dropdown();
});
</script>